* {
  /* Essas opções reseta a configuração do navegador para que obedeça os seus códigos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root é a parte para o modo light*/
:root {
  --text-color: #ffffff;
  --bg-url: url(./Imagens/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --background-button: rgba(255, 255, 255, 0.1);
  --background-button-cover: rgba(255, 255, 255, 0.05);
  --social-link-hover: #ffffff33;
  --switch-bg-url: url(./moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./Imagens/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --background-button: rgba(0, 0, 0, 0.05);
  --background-button-cover: rgba(0, 0, 0, 0.02);
  --social-link-hover: #0000001a;
  --switch-bg-url: url(./sun.svg);
}

body {
  background: var(--bg-url) no-repeat center/cover;
}

body * {
  color: var(--text-color);
  font-family: Inter;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  /* Foi utilizado essa forma pois é display:block, em display:block o justify-content não funciona */
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center/cover;
  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--stroke-color);
  background: var(--background-button);
  backdrop-filter: blur(4px);
}

.light #switch button {
  right: 0;
  left: initial;
}

/* Links */
ul {
  list-style: none;
  /* Isso faz com que tire os pontinhos */
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* esses 3 são necessários para colocar o display-flex em colunas, um embaixo do outro (normalmente seria um do lado do outro) e para que seja possível colocar um gap */
  padding: 24px 0;
}

ul li a {
  justify-content: center;
  align-items: center;
  /* justify-content alinha as palavras para que fique no centro da tela
  align-items alinha as palavras para que fique no centro da linha */
  display: flex;
  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  background: var(--background-button);
  border-radius: 8px;
  text-decoration: none;
  /* text-decoration tira as linhas debaixo */
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  border-radius: 8px;
  border: 1.5px solid var(--text-color);
  background: var(--background-button-cover);
  backdrop-filter: blur(4px);
}

/* Links Sociais*/

#social-links {
  display: flex;
  /* display:flex para que seja possível colocar um gap */
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
  /* border-radius 50% é uma bolinha perfeita */
}

/* Por que o a? Pois ele está selecionando o link e o código começa com a */
#social-links a:hover {
  background: var(--social-link-hover);
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
